/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: white;
  height: 100vh;
  width: '100%';
  background-color: #1e1e1e;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 90vw;
  height: 100vh;
  gap: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.saveButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.tasksFilterButtons {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 60%;
  height: 5%;
  padding-bottom: 2%;
}
.tasksFilterButtons button {
  background-color: grey;
  width: 20%;
  text-align: center;
  border-radius: 5px;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  gap: 2%;
  overflow-y: auto;
}
.tasksContainer::-webkit-scrollbar {
  width: 8px;
}

.tasksContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.tasksContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  all: unset;
}

.button {
  background-color: grey;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icon2:hover {
  opacity: 80%;
}

/* taskform modal */

.modalBackground {
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
}
.taskFormModal {
  opacity: 100%;
  padding: 10px;
  width: 40%;
  height: 40%;
  background-color: #3e3e42;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between;
}

.taskFormModal button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  transition: all 0.2s ease-out;
}
.taskFormModal input {
  width: 90%;
  align-self: center;
}
.colorButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 40%;
  width: 80%;
  padding: 5%;
  gap: 2%;
  row-gap: 20%;
  align-self: center;
}
.colorButton {
  border-radius: 5px;
}

.taskForm {
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2%;
}

.searchBar {
  width: 60%;
  align-self: center;
  padding: 2%;
  margin-bottom: 2%;
}

.subTasksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.subTaskForm {
  display: flex;

  align-items: center;
  margin-left: 2%;
  gap: 5%;
}

.subTaskForm input {
  padding: 2%;
  width: 80%;
}

.subTask {
  display: flex;
  justify-content: space-between;
}

.input {
  padding: 3%;
  width: 40%;
  font-size: 100%;
  justify-content: 'center';
}

.task {
  width: 50%;
  align-self: center;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
