/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: white;
  height: 100vh;
  width: '100%';
  background-color: #1e1e1e;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 90vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  gap: 2%;
  overflow-y: auto;
}
.tasksContainer::-webkit-scrollbar {
  width: 8px;
}

.tasksContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.tasksContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  all: unset;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.taskForm {
  width: 60%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2%;
}

.subTasksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.subTaskForm {
  display: flex;

  align-items: center;
  margin-left: 2%;
  gap: 5%;
}
.subTaskForm input {
  padding: 2%;
  width: 80%;
}

.subTask {
  display: flex;
  justify-content: space-between;
}

.input {
  padding: 3%;
  width: 40%;
  font-size: 100%;
  justify-content: 'center';
}

.task {
  width: 50%;
  align-self: center;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
